// COLORS
$white: #fff;
$light-purple: #7F86CA;
$dark-purple: #57587F;
$gray-outline: rgb(194, 194, 194);
$gray-in-box: rgba(241, 240, 240, 0.986);
$gray-text: rgb(85, 85, 85);
$gray-button: rgb(122, 120, 120);

// BORDER
$border: solid 1px $gray-outline;

// MEDIA QUERIES

$break-tablet: 768px;
$break-desktop: 1024px;

