.alert {
    background-color: $light-purple;
    border-radius: 5px;
    width: 90%;
    margin: 5px auto;
    margin-top: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    @media only screen and (min-width: $break-desktop) {
        width: 92%;
    }
}

.alert p {
    padding: 0px 5px 0px 15px;
    line-height: 1.5em;
    font-size: 0.9em;
}

.alert p strong {
    font-size: 1.1em;
    padding-right: 5px;
}
.alert button {
    background-color: transparent;
    border: none;
    color: white;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 1.7em;
    flex-direction: column;
}