// Styling the charts

#traffic-chart,
#dailyCanvas,
#mobile-users {
    margin: 20px auto;
    display: block;
}

@media only screen and (min-width: $break-tablet) {
    element.style {
        height: 373px;
        width: 661px;
        margin: 30px auto;
        }
}