.dashboard-search {
    display: flex;

}

.dashboard-search h1 {
    width: 30%;
    background-color: white;
    font-size: 1em;
    font-weight: 400;
    padding: 16px 10px 6px 10px;
    margin: 0px 0px 10px 0px;
    border-right: solid black 1px;
}

.dashboard-search p {
    width: 70%;
    background-color: whitesmoke;
    padding-top: 16px;
    padding-left: 19px;
    margin-top: 0px;
}

.search-outside-box {
    width: 70%;
    display: flex;
}

.searchbox {
    width: 40%;
    margin-left: 240px;
    align-self: center;
    justify-content: right;
    padding: 10px;
    display: block;
    background-color: $gray-in-box;
    border: $border;
    border-radius: 5px;
}
