header {
    background-color: $light-purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.header-items {
    display: flex;
    align-items: center;
}

.header-app-name {
    color: #ebecf7;
    font-size: 1.2em;
    font-weight: 300;
    // margin-left: 10px;
    & sup {
        font-size: 0.4em;
    }
}

.header-app-name,
.header-items {
    padding: 7px;
}

.member-name {
    display: none;
    @media only screen and (min-width: 768px) {
        &{
            display: block;
            color: white;
        }
    }
}

.profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: solid $light-purple 1px;
}
