.navigation {
    background-color: $dark-purple;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
}

nav img {
    padding: 0px 3px;
}

@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    nav img {
        padding: 15px 0px;
    }

}