

@media only screen and (min-width: 768px) {
.wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
    }   

header {
    grid-column: 1/4;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.full-width {
    grid-column: 1/3;
}


}

// make profile pic a circle
.profile-picture {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

