.settings {
   padding: 0 5px;
    border-top: $border;
}

.settings-content {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: auto;
}

.settings-content label {
    display: flex;
    margin: 10px 0px;
    font-size: 0.9em;
    color: $gray-text;
    // &:first-child {
    //     padding-top: 6px;
    // }
}


.settings-content input[type=checkbox] {
    margin-left: auto;
}

#timezone {
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    display: block;
    color: $gray-text;
    background-color: $gray-in-box;
    border: $border;
    border-radius: 5px;
}

.buttons {
    display: flex;
    width: 93%;
    margin: 0 auto;
}

.save-button,
.cancel-button {
    width: 50%;
    margin: 5px auto;
    padding: 13px;
    border-radius: 5px;
    color: white;
    border: none;
}

.save-button {
    background-color: $light-purple;
    margin-right: 12px;
}

.cancel-button {
    background-color: $gray-button;
}


// checkboxes

.checkboxes {
    padding: 10px 0px;
}

.switch {
    position: relative;
    align-items: center;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 197px;
    right: -197px;
    bottom: 0;
    background-color: $gray-button ;
    border: solid 1px $gray-outline;
    -webkit-transition: .4s;
    transition: .4s;
    width: 60px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $light-purple;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $light-purple;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border: solid 1px $gray-outline;
  }

  .on
{
  display: none;
}

.on
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 30%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

.off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 69%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}
