// Styling the "social stats" section
.social-stats {
    margin-top: 30px;
}

.all-social-boxes {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.social-box {
    background-color: rgba(245, 245, 245, 0.986);
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 12px;
    &__label {
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 15px;
        font-weight: 600;
        font-size: 0.9em;
        color: $light-purple;
    }
    &__number {
    display: inline-block;
    color: rgb(85, 85, 85);
    font-weight: 300;
    font-size: 1.5em;
    padding-top: 4px;
    }
}
