// Styling the "social stats" section
.social-stats {
    border-bottom: $border;
    padding-bottom: 40px;
}

.all-social-boxes {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.social-box {
    background-color: $gray-in-box;
    border: solid 1px $gray-outline;
    border-radius: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 12px;
    &__label {
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 15px;
        font-weight: 600;
        font-size: 0.9em;
        color: $light-purple;
    }
    &__number {
    display: inline-block;
    color: $gray-text;
    font-weight: 300;
    font-size: 1.5em;
    padding-top: 4px;
    }
    @media only screen and (min-width: $break-tablet) {
        flex-direction: row;
        padding-left: 15px;
        padding-right: 50px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
        &__label {
            padding-left: 13px;
            font-size: 0.8em;
        }
        &__number {
            font-size: 2.2em;
        }
    }
    @media only screen and (min-width: $break-desktop) {
        padding-left: 33px;
        padding-right: 54px;
        text-align: left;
        &__number {
            font-size: 2.7em;
        }
    }
}

@media only screen and (min-width: 768px) {
    .social-box svg {
    }
}