/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
header {
  background-color: #7F86CA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

/* line 9, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.marker {
  position: relative;
  top: -12px;
  right: 6px;
  height: 7px;
  width: 7px;
  border-radius: 70px;
  background: #00ff88;
}

/* line 20, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.notification-svg:hover {
  stroke: #00ff88;
}

/* line 24, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.st0:hover {
  fill: #00ff88;
}

/* line 27, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.header-items {
  display: flex;
  align-items: center;
}

/* line 32, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.header-app-name {
  color: #ebecf7;
  font-size: 1.2em;
  font-weight: 300;
}

/* line 37, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.header-app-name sup {
  font-size: 0.4em;
}

/* line 42, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.header-app-name,
.header-items {
  padding: 7px;
}

/* line 47, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.member-name {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 50, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
  .member-name {
    display: block;
    color: white;
  }
}

/* line 59, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_header.scss */
.profile {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-left: solid #7F86CA 1px;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_body.scss */
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

/* line 3, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_other.scss */
.section-header {
  padding-left: 12px;
  color: #575656;
  padding-top: 26px;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  /* line 12, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_other.scss */
  .wrapper {
    display: grid;
    grid-template-columns: 70px 10fr;
  }
}

/* line 38, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_other.scss */
.profile-picture {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_navigation.scss */
.navigation {
  background-color: #57587F;
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  /* line 6, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_navigation.scss */
  .navigation {
    flex-direction: column;
    justify-content: start;
  }
  /* line 11, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_navigation.scss */
  .navigation img {
    padding: 15px 0px;
  }
}

/* line 17, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_navigation.scss */
nav {
  display: flex;
  justify-content: center;
}

/* line 22, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_navigation.scss */
nav img {
  padding: 0px 3px;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_dashboard.scss */
.dashboard-head {
  display: flex;
}

/* line 6, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_dashboard.scss */
.dashboard-head h1 {
  width: 30%;
  background-color: white;
  font-size: 1em;
  font-weight: 400;
  padding: 16px 10px 6px 10px;
  margin: 0px 0px 10px 0px;
  border-right: solid black 1px;
}

/* line 16, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_dashboard.scss */
.dashboard-head p {
  width: 70%;
  background-color: whitesmoke;
  padding-top: 16px;
  padding-left: 19px;
  margin-top: 0px;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_alert.scss */
.alert {
  background-color: #7F86CA;
  border-radius: 5px;
  width: 90%;
  margin: 5px auto;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

/* line 11, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_alert.scss */
.alert p {
  padding: 0px 5px 0px 15px;
  line-height: 1.5em;
  font-size: 0.9em;
}

/* line 17, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_alert.scss */
.alert p strong {
  font-size: 1.1em;
  padding-right: 5px;
}

/* line 21, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_alert.scss */
.alert button {
  background-color: transparent;
  border: none;
  color: white;
  padding-top: 10px;
  padding-right: 15px;
  font-size: 1.7em;
  flex-direction: column;
}

/* line 2, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_social.scss */
.social-stats {
  margin-top: 30px;
}

/* line 6, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_social.scss */
.all-social-boxes {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

/* line 12, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_social.scss */
.social-box {
  background-color: rgba(241, 240, 240, 0.986);
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 12px;
}

/* line 22, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_social.scss */
.social-box__label {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 0.9em;
  color: #7F86CA;
}

/* line 30, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_social.scss */
.social-box__number {
  display: inline-block;
  color: #555555;
  font-weight: 300;
  font-size: 1.5em;
  padding-top: 4px;
}

/* line 3, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_charts.scss */
#traffic-chart,
#dailyCanvas,
#mobile-users {
  margin-top: 20px;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-members {
  width: 97%;
  margin: 10px auto;
}

/* line 8, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5px auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px #c2c2c2;
}

/* line 16, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box__first-row {
  display: flex;
  justify-content: space-between;
}

/* line 20, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box__text-content {
  width: 100%;
}

/* line 23, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box__profile-img {
  display: inline-block;
  border-radius: 50%;
  padding: 0 5px;
  width: 40px;
  height: 40px;
}

/* line 30, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box__name {
  display: inline-block;
  justify-content: space-evenly;
  font-size: 0.9em;
  color: #3a3939;
}

/* line 36, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box__email {
  color: #7F86CA;
  font-size: 0.8em;
}

/* line 40, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box__date {
  font-size: 0.9em;
  color: #555555;
}

/* line 46, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_newMembers.scss */
.new-member-box:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity {
  width: 97%;
  margin: 10px auto;
}

/* line 8, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5px auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px #c2c2c2;
}

/* line 17, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__first-row {
  display: flex;
  justify-content: space-between;
}

/* line 21, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__text-content {
  width: 100%;
}

/* line 24, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__profile-img {
  display: inline-block;
  border-radius: 50%;
  padding: 0 5px;
  width: 40px;
  height: 40px;
}

/* line 31, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__activity {
  display: inline-block;
  justify-content: space-evenly;
  font-size: 0.8em;
  color: #3a3939;
}

/* line 37, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__time {
  color: #3a3939;
  font-size: 0.7em;
}

/* line 41, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* line 47, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box__first-row p {
  margin: 0px;
}

/* line 51, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
i {
  border: solid #7F86CA;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* line 58, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_recentActivities.scss */
.recent-activity-box:last-child {
  border-bottom: none;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_messageUser.scss */
.message-user {
  width: 97%;
  margin: auto;
}

/* line 4, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_messageUser.scss */
.message-user__searchbox, .message-user__textbox {
  width: 87%;
  margin: 15px auto;
  padding: 10px;
  display: block;
  background-color: rgba(241, 240, 240, 0.986);
  border: solid 1px #c2c2c2;
  border-radius: 5px;
}

/* line 14, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_messageUser.scss */
.message-user__textbox {
  resize: none;
  font-family: 'Roboto', sans-serif;
}

/* line 20, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_messageUser.scss */
::placeholder {
  color: #a7a7a7;
}

/* line 24, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_messageUser.scss */
.send-button {
  width: 93%;
  margin: 5px auto;
  padding: 13px;
  display: block;
  border-radius: 5px;
  color: white;
  background-color: #7F86CA;
  border: none;
}

/* line 1, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.settings {
  width: 97%;
  margin: auto;
  margin-bottom: 40px;
}

/* line 7, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.settings-content {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin: auto;
}

/* line 14, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.settings-content label {
  display: flex;
  margin: 10px 0px;
  font-size: 0.9em;
  color: #555555;
}

/* line 25, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.settings-content input[type=checkbox] {
  margin-left: auto;
}

/* line 29, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
#timezone {
  width: 100%;
  margin: 15px auto;
  padding: 10px;
  display: block;
  color: #555555;
  background-color: rgba(241, 240, 240, 0.986);
  border: solid 1px #c2c2c2;
  border-radius: 5px;
}

/* line 40, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.buttons {
  display: flex;
  width: 93%;
  margin: 0 auto;
}

/* line 46, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.save-button,
.cancel-button {
  width: 50%;
  margin: 5px auto;
  padding: 13px;
  border-radius: 5px;
  color: white;
  border: none;
}

/* line 56, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.save-button {
  background-color: #7F86CA;
  margin-right: 12px;
}

/* line 61, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.cancel-button {
  background-color: #7a7878;
}

/* line 73, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.switch {
  position: relative;
  align-items: center;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 34px;
}

/* line 82, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 88, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 197px;
  right: -197px;
  bottom: 0;
  background-color: #7a7878;
  border: solid 1px #c2c2c2;
  -webkit-transition: .4s;
  transition: .4s;
  width: 60px;
}

/* line 102, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 114, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
input:checked + .slider {
  background-color: #7F86CA;
}

/* line 118, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #7F86CA;
}

/* line 122, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* line 129, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.slider.round {
  border-radius: 34px;
}

/* line 133, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.slider.round:before {
  border-radius: 50%;
  border: solid 1px #c2c2c2;
}

/* line 138, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.on {
  display: none;
}

/* line 143, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.on {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

/* line 154, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 69%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

/* line 165, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
input:checked + .slider .on {
  display: block;
}

/* line 168, ../../../../../../../../../../../../../Users/alicefogelberg/Desktop/coding projects/WebApp_Dashboard/scss/components/_settings.scss */
input:checked + .slider .off {
  display: none;
}

/*# sourceMappingURL=styles.css.map */